<a href="/definiciones-private/newDefiniciones" class="a_newArticulo">Nueva Definicion</a>
{{#each definiciones}}
<section class="seccionArticle">
    <h1 class="tituloArticle">{{this.titulo}}</h1>
    <div class="foto_article">
        <img src="../upload/{{this.img}}" class="img_article">
    </div>
    <article class="articuloCuerpo">{{this.cuerpo}}</article>
    <h5 class="fuenteArticle">Fuente:
        <a href="{{this.fuente}}" class="a_fuente" target="_blak">{{this.fuente}}</a>
    </h5>
    <div class="btnOperacion">
        <a href="/definiciones-private/{{this._id}}" class="a_mas">Editar</a>
        <a href="/definiciones-private/eliminar/{{this._id}}" class="a_mas">Borrar</a>
    </div>
</section>
{{/each}}