{{#if mensajeError }}
<h3 class="titulo">UPS!😕</h3>
<h3 class="errorSearch">{{mensajeError}}</h3>
<h3 class="titulos">Enlaces</h3>
<a href="/" class="a_menuError">Inicio</a>
<a href="/articulos" class="a_menuError">Otros Articulos que te pueden interezar</a>
<a href="/contacto" class="a_menuError">Contacta Conmigo</a>
{{else}}
<h3 class="titulo">Blog</h3>
<h3 class="errorSearch">{{mensajeOk}}</h3>
{{/if}}

{{#each definiciones}}
<section class="seccionArticle">
    <a href="/blog/{{this._id}}" class="a_mas_seccion">
        <h1 class="tituloArticle">{{this.titulo}}</h1>
        <div class="foto_article">
            <img src="../upload/{{this.img}}" class="img_article">
        </div>
    </a>
</section>
{{/each}}