<h3 class="titulo">
    Editar Definicion
    <br>
    <span>
        {{#if msj}}
        {{ msj }}
        {{/if}}
    </span>
</h3>
<div class="formContacto">
    <form action="/definiciones-private/newDefiniciones" method="POST" class="formMail" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{{definiciones.id}}">
        <input type="text" name="titulo" placeholder="titulo" value="{{definiciones.titulo}}">
        <input type="text" name="cuerpo" placeholder="cuerpo" value="{{definiciones.cuerpo}}">
        <input type="file" name="img" value="{{definiciones.img}}">
        <img src="/upload/{{definiciones.img}}">
        <input type="text" name="fuente" placeholder="fuente" value="{{definiciones.fuente}}">
        <input type="submit" value="Actualizar" class="btnMail">
    </form>
</div>