<h3 class="titulo">{{definicionesOne.titulo}}</h3>
<div class="foto_article">
    <img src="../upload/{{definicionesOne.img}}" class="img_article">
</div>
<article class="articuloOne">{{definicionesOne.cuerpo}}</article>
<h5 class="fuenteArticle">Fuente:
    <a href="{{definicionesOne.fuente}}" class="a_fuente" target="_blak">{{definicionesOne.fuente}}</a>
</h5>